TrReportingLibrary/TrReportingLibrary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TrReportingLibrary/.vs/TrReportingLibrary/v14/.suo
TrReportingLibrary/TrReportingLibrary/obj/Debug/TrReportingLibrary.csprojResolveAssemblyReference.cache
TrReportingLibrary/TrReportingLibraryUnitTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
